%p Hello Admin!

- if @classified.published?
  %p The following has been submitted and is published online:
- elsif @classified.approved?
  %p The following has been submitted and approved:
- else
  %p The following has been submitted and is awaiting your approval:

%hr

= render('effective/classifieds/classified', classified: @classified) do
  %div= @classified.body

%hr

- unless @classified.approved?
  %p= link_to("Approve", effective_classifieds.edit_admin_classified_url(@classified))

%p= link_to("View", effective_classifieds.classified_url(@classified))

%p Have a great day!
