%p Hello Admin!

- if @classified.published?
  %p The following posting has been submitted and is published online:
- else
  %p The following posting has been submitted and is awaiting your approval:

%hr

= render('effective/classifieds/classified', classified: @classified) do
  %p= @classified.body

%hr

- unless @classified.approved?
  %p= link_to('Approve Posting', effective_classifieds.edit_admin_classified_path(@classified))

%p= link_to('View Posting', effective_classifieds.classified_path(@classified))

%p Have a great day!
