%h2 Classifieds

- published = Effective::Classified.classifieds(user: current_user).count

- datatable = EffectiveClassifiedsDatatable.new(self, namespace: :effective)
= render_datatable(datatable, simple: true)

%p= link_to 'View All Classifieds', effective_classifieds.classifieds_path, class: 'btn btn-primary'
