%h2= EffectiveClassifieds.classifieds_label

- published = Effective::Classified.classifieds(user: current_user).count

- if published > 0
  - datatable = EffectiveClassifiedsDatatable.new(self, namespace: :effective)
  = render_datatable(datatable, simple: true)
- else
  %p There are no active postings. When there are, we'll show them here.

%p= link_to 'View All', effective_classifieds.classifieds_path, class: 'btn btn-primary'
