.effective-classified
  - unless @classified.published?
    .alert.alert-warning.mb-4 This classified is currently unavailable.

  = render 'effective/classifieds/classified', classified: @classified

  .resource-buttons.text-left
    = link_to 'View All Classifieds', effective_classifieds.classifieds_path, class: 'btn btn-primary'
